body {
    background-color: #ccffcc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: "Georgia", serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

table {
    margin-right: auto;
    margin-left: auto;
}

th {
    background-color: darkslategrey;
    color: white;
    text-align: left;
}

td {
    background-color: whitesmoke;
    color: black;
    text-align: left;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.navigation li {
    float: left;
  }
  
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
.navigation li a:hover {
    background-color: #111;
  }

.navigation li a.active {
    background-color: lightslategrey;
}

.navigation li:last-child {
    float: right;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 60%;
}

.mainheading {
    color: dark;
}

#mainimage {
    display: block;
    width: 99%;
    padding: 0.5%;
    background-color: darkslategray;
}

#wikiimage {
    width: 20px;
    height: 18px;
}

#imagedivrow {
    
    width: 100%;
    
}



.imagedivcolumn img {
    float: left;
    width: 49%;
    height: 35%;
    min-width: 350px;
    background-color:darkslategray;
    padding: 0.5%;
}

#leftdiv {
    float: left;
    width: 60%;
}

#rightdiv {
    float: right;
    width: 40%;
}